#!/usr/bin/make -f

PKGVER = $(shell dpkg-parsechangelog | awk -F '[:-]' '/^Version:/ { print substr($$2, 2) }')
EXCLUDE = --exclude-vcs --exclude=debian

override_dh_installdocs:
	dh_installdocs --all CONTRIBUTORS.md README.rst
	rm -rvf debian/*/usr/share/doc/postgresql-doc-*

override_dh_pgxs_test:
	pg_buildext -o "shared_preload_libraries=pg_stat_statements,pg_stat_kcache" installcheck . . postgresql-%v-pg-stat-kcache

orig: debian/control clean
	cd .. && tar czf pg-stat-kcache_$(PKGVER).orig.tar.gz $(EXCLUDE) pg-stat-kcache-$(PKGVER)

%:
	dh $@ --with pgxs_loop
